@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2>Delete User</h2>


<div class="table-responsive">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Account Active</th>
				<th>Date of Birth</th>
				<th style="width: 1px;"></th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>
						@Model.Id
					</td>
					<td>
						@Model.Forename
					</td>
					<td>
						@Model.Surname
					</td>
					<td>
						@Model.Email
					</td>
					<td>
						@(Model.IsActive ? "Yes" : "No")
					</td>
					<td>
						@Model.DateOfBirth?.ToString("dd/MM/yyyy")
					</td>
				</tr>
		</tbody>
	</table>
</div>

<p> Are you sure you want to permanently delete this user?</p>
<form asp-controller="Users" asp-action="DeleteUser" asp-route-id="@Model.Id" method="post" class="float-md-none">
	<button type="submit" class="btn btn-primary">
		Delete
	</button>
</form>

