@model UserManagement.Web.Models.Users.UserDetailsViewModel

<h2>User</h2>


<div class="table-responsive">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Account Active</th>
				<th>Date of Birth</th>
				<th style="width: 1px;"></th>
			</tr>
		</thead>
		<tbody>

                <tr>
                    <td>
                        @Model.User.Id
                    </td>
                    <td>
                        @Model.User.Forename
                    </td>
                    <td>
                        @Model.User.Surname
                    </td>
                    <td>
                        @Model.User.Email
                    </td>
                    <td>
                        @(Model.User.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        @(Model.User.DateOfBirth?.ToString("dd/MM/yyyy"))
                    </td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
								Actions
							</button>
							<ul class="dropdown-menu" aria-labelledby="btnToggleActions">
								<li><a asp-controller="users" asp-action="Edit" asp-route-id="@Model.User.Id" class="dropdown-item">Edit</a></li>
								<li><a asp-controller="users" asp-action="Delete" asp-route-id="@Model.User.Id" class="dropdown-item">Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
		</tbody>
	</table>
</div>

<h2>Logs</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>User Id</th>
				<th>Action</th>
				<th>Time Stamp</th>
				<th style="width: 1px;"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Logs)
			{
				<tr>
					<td>
						@item.Id
					</td>
					<td>
						@item.UserId
					</td>
					<td>
						@item.Action
					</td>
					<td>
						@item.TimeStamp.ToString()
					</td>
					<td>
						<a asp-controller="Logs" asp-action="ViewLog" asp-route-id="@item.Id" class="dropdown-item">View</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
